ul li {
    background-color: #00FF00;
}

.submenu a {
    text-decoration: none;
}

aside.left > h1 {
    font-size: .6em;
}

p.lorem span {
    font-weight: bold;
}

span[title] {
    font-style: italic;
}

* p {
    text-align: justify;
}

span.title {
    text-align: center;
    color: red;
}
