@CHARSET "UTF-8";

/* Styles */

body {
	padding : 10px;
}

h1, h2 {
	margin-top: 5px;
}

dl.glossary {
	margin-top : 10px;
}

/* Managing definitions */
dl dt.glossary-entry {
	font-size : 1.5em;
}

dl dd.glossary-definition {
	margin-top : 5px;
}
dl.compact {
	padding-left : 10px;
}
dl.compact dt {
	float: left;
    text-align: left;
    margin-right : 5px;
    padding-top : 5px
}

dl.italic dt {
	font-style : italic;
}

dl.compact dt:after {
    content: " : ";
 }

dl.compact dd {
   margin : 0px;
   text-align : left;
   padding-top : 5px
 }

/* Managing code samples */
.code-sample-wrapper {
	margin-top: 5px;
}

.code-sample {
	display : inline-block;
	padding : 5px;
}

.code-sample .code-sample-content {
	background-color : white;
	padding : 5px;
	border-left : 2px solid blue;
}

.code-sample .code-sample-content code {
	white-space : nowrap;
}

.code-sample .code-sample-label  {
	margin-bottom : 5px;
}

.code-sample .code-sample-info  {
	margin-top : 5px;
}
