html, body {
  width : 100%;
  margin : 0px;
}

header {
  background-color: blue;
}

nav {
  background-color: yellow;
}

aside.ads {
  background-color: green;
}

aside.summary {
  background-color: orange;
}

main {
  background-color : purple;
}

footer {
  background-color : gray;
}

/* Fixes Margin Collapse */
header, nav, aside, main, footer {
  padding : 10px;
}

nav ul, .wrapper {
  display : flex;
}

nav li {
  list-style-type : none;
  margin : 10px;
}

@media screen and (max-width:600px) {

  nav, .summary {
    display : none;
  }

   .wrapper {
     flex-direction: column;
   }

   .ads {
     order : -1;
   }

}

@media screen and (min-width:600px) and (max-width:900px)  {

  .summary {
    display : none;
  }

   nav ul {
     flex-direction: column;
   }

   .ads {
     order : -1;
   }

}

@media screen and (min-width:900px)  {

   .ads {
     order : 1;
   }

   .summary {
     order : -1;
   }

   main {
     width : 70%;
   }

}

/*
  Pas dans l'exo : BONUS \o/
*/
@media screen and (orientation: landscape)  {

  h1::after {
    content: " : Paysage !";
  }

}

@media screen and (orientation: portrait)  {

  h1::after {
    content: " : Portrait !";
  }

}
