<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lesson 7 - Exercise 8</title>
  </head>
  <body>
    <!-- Component template -->
    <div id="app">
      <input type="text" v-model="search" />
      <section v-show="search">
        <h1> Résultats de recherche pour : {{ search }}</h1>
        <p>{{ gifs.length }}</p>
        <img v-for="gif in gifs" :src="gif.images.original.url" />
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
