* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

html, body {
    height: 100vh;
    width: 100vw;
}

nav {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -13%;

    transition: left 0.2s;
}

ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav:hover {
    left: 0;
}

li {
    display: block;
}

#menu a, #menu i {
    color: white;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #2C2B3C;
}

#menu i {
    padding-left: 25px;
}

#menu a {
    text-align: right;
    display: block;
    padding: 16px;
    background-color: #1B2432;
}
