@font-face {
    font-family: 'custom';
    src: url('/includes/fonts/SFProverbialGothic.ttf');
}

@font-face {
    font-family: 'custom-bold';
    src: url('/includes/fonts/SFProverbialGothic-Bold.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'custom';
    color: #E8E9EF;
    text-shadow: 0px 0px 3px #E8E9EF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'custom-bold';
    text-transform: uppercase;
}

nav {
    height: 32px;
    width: 100%;
    position: fixed;
}

nav > a {
    text-decoration: none;
    color: initial;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
    background-image: url(/includes/testfond.png);
}

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 300%;
    text-align: left;
    font-style: italic;
    width: 50;
    margin-right: 30%;
    margin-top: 5px;

}

.title > * {
    margin: 0;
    padding: 0;
    text-align: center;
}

.select > ul {
    margin: 0;
    padding: 0;
}

.select > ul {
    display: flex;
    flex-direction: row;
    padding: 64px;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-image: url('/includes/bg-select.png');
}

.select > ul > li {
    width: initial;
    list-style: none;
    height: 128px;
}

.item {
    position: relative;
    display: block;
    margin: 0px 4px;
    padding: 0px 16px;
    border: 4px solid #E8E9EF;
    border-radius: 16px 0px 16px 0px;
    box-shadow: 0px 0px 5px #E8E9EF, inset 0px 0px 5px #E8E9EF;
    overflow: hidden;
    transform: skew(-15deg);
    height: 100%;
    width: 64px;
    transition: transform 0.2s, width 0.2s;
}

.item:hover {
    transform: skew(-15deg) scale(1.1);
}

.item + p {
    margin-left: 20%;
    transition: transform 0.2s;
}

.item:hover + p {
    transform: scale(1.1) translateY(10px);
}

.item > img {
    margin: 10% 10%;
    display: block;

    height: 80%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
}

.infos{
    text-align: left;
    display: block;
    width: 50%;
    margin-left: 25%;
    border-style: solid;
    border-width: 4px;
    padding: 5%;
    border-radius: 64px 0 64px 0;
    box-shadow: 0px 0px 5px #E8E9EF, inset 0px 0px 5px #E8E9EF;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.infos > p {
    text-align: left;
}

.infos > a {
    border-width: 1px;
    background-color:#f46b45;
    border-style: solid;
    border-color:#e65c00;
    padding: 7px 4% 7px 4%;
    border-radius: 5px;
    border-width: 2px;
    color: white;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    position: absolute;
    right: 0;
    margin-right: 10%;
    margin-top: -3%;
}
/* back button */

#back {
    margin-top: 14px;
    margin-left: 14px;

    display: block;
    height: 4px;
    width: 32px;
    background-color: #E8E9EF;
    border-radius: 2px;
}

#back::before {
    left: 0;
    position: absolute;
    content: '';
    display: block;
    height: 4px;
    width: 16px;
    background-color: #E8E9EF;
    transform: rotate(-45deg);
}

#back::after {
    left: 0;
    position: absolute;
    content: '';
    display: block;
    height: 4px;
    width: 16px;
    background-color: #E8E9EF;
    transform: rotate(45deg);
}
