.reveal .backgrounds::before {
    content: '';
    display: block;
    height: 100px;
    background-image: url(/includes/logo.png);
    background-position: 1em 1em;
    background-size: 100px;
    background-repeat: no-repeat;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p, .reveal {
    color: #525f7f;
}

.reveal .backgrounds {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.reveal h1, .reveal h2 {
    text-transform: initial;
}

.reveal .attribution {
  font-size : 0.5em;
}

.reveal code {
    display: inline-block;
    padding:.1em .3em;
    border-radius: 3px;
    background-color:#ffffff;
    word-break: keep-all;
}

.reveal pre, .reveal pre code, .reveal code {
    box-shadow: 0px 5px 35px rgba(50, 50, 93, 0.1);;
    border-radius: 3px;
    transition: all 0.2s;
    cursor: pointer;
}

.reveal pre:hover, .reveal pre code:hover, .reveal code:hover  { 
    transform: translateY(-1px);
    box-shadow: 0px 5px 35px rgba(50, 50, 93, 0.1);;
}

.reveal pre code {
    display: block;
    padding:.1em .3em;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    word-break: keep-all;
    box-shadow: none;
}


/* v2 */
